body{
  background-color: black;
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  font-size: 22px;
}

.header{
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-title{
  padding-left: 10px;
  padding-right: 50px;
}

.header li{
  list-style: none;
  display: inline-block;
  padding: 5px 30px;
}

.header a{
  color: seashell;
  text-decoration: underline;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#mission{
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg")
}

#missiontext{
  background-color: black;
  width: 1200px;
  text-align: center;
}

#month{
  width: 1000px;
  text-align: center;
}

#steeping{
  text-align: center;
  align-items: center;
}

#month img{
  height: 200px;
  width: 300px;
}

#teas{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#locations{
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row{
  display: flex;
  justify-content: space-around;
}

#downtown{
  background-color: black;
  width: 300px;
  text-align: center;
  opacity: 1;
}

#bayside{
  background-color: black;
  width: 300px;
  text-align: center;
  opacity: 1;
}

#oakdale{
  background-color: black;
  width: 300px;
  text-align: center;
  opacity: 1;
}

#contact{
  display: flex;
  height: 200px;
  width: 1200px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

#copyright{
  text-align: left;
  padding-left: 20px;
}
