body{
  background-color: black;
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  font-size: 22px;
}

.header{
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-title{
  padding-left: 10px;
  padding-right: 50px;
}

.header li{
  list-style: none;
  display: inline-block;
  padding: 5px 30px;
}

.header a{
  color: seashell;
  text-decoration: underline;
}
