body{
  background-color: black;
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  font-size: 22px;
}

.header{
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-title{
  padding-left: 10px;
  padding-right: 50px;
}

.header li{
  list-style: none;
  display: inline-block;
  padding: 5px 30px;
}

.header a{
  color: seashell;
  text-decoration: underline;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#mission{
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg")
}

#missiontext{
  background-color: black;
  width: 1200px;
  text-align: center;
}

#month{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
}

#month img{
  height: 200px;
  width: 300px;
}

#month div{
  text-align: center;
  display: flex;
  flex-direction: column;
}
